<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="app">
    hello lwh!<br>
    <div>
        <input type="text" v-model="fuck">
        <span>{{fuck}}</span><br>
        <div>
            <span v-text="message" class="lwh"></span>
        </div>
        <input type="text" v-model="obj.obj.obj.name"><br>
        author:{{ author }} {{ price}}
        <div>{{obj.obj.obj.name}}</div>
        {{arr}}
        {{lwhObj}}
        <!--<div>{{arr[0].name}}</div>-->


        {{getFuckName}}
    </div>

</div>

<script src="js/observer.js"></script>
<script src="js/watcher.js"></script>
<script src="js/templateCompiler.js"></script>
<script src="js/index.js"></script>
<script>
    var vm = new FuckLiu({
        el:'#app',
        data:{
            fuck:'fuckLiu',
            message:'LwhVue is good!',
            author:'lwh',
            price:'999',
            arr:[{name:'arrItem'}],
            obj:{obj:{obj:{name:'allen'}}},
            lwhObj:{name:'lwh'}
        },
        computed:{
            getFuckName(){
                return this.fuck+'66'
            }
        }
    })
</script>
</body>
</html>